* {
    box-sizing:border-box;
    }
    
    body {
        font-family :
	    'YuGothic',   /* Mac用 */
	    'Yu Gothic', /* Windows用 */
	    sans-serif;
        margin:0 ;
        color:#181818;
    }

    header {
        width:90%;
        margin:0 auto;
        height:100px;
    }

    .header-logo img{
        width:100px;
        float:left;
    }

    .header-menu {
        float:right;
        line-height:100px;
    }

    .header-menu a:hover {
        cursor:pointer;
        text-decoration: underline;
    }

    .header-menu-item {
        display:inline-block;
        padding:0px 15px;
    }

    .sp-header-menu {
        display:none;
        line-height:100px;
        float:right;
    }

    .btn {
        background-color:#F0F8FF;
        padding:15px;
        border-radius: 40px;
    }

    .menu-btn > i {
        display: inline-block;
        padding: 12px;
        cursor: pointer;
        border-radius: 50%;
    }
    
    .menu-btn > i:hover {
        background-color: #f3f4f6;
    }

    #menu-checkbox {
        display: none;
    }

    .nav-content {
        background-color: white;
        width: 100%;
        max-width: 50%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 50;
        padding: 8px;
        overflow: auto;
        transform: translateX(100%); /* 画面外に配置 */
        transition-duration: 300ms;
        float:right;
    }

    .nav-menu ul {
        list-style: none;
        text-align: left;
    }

    .nav-menu li > a {
        text-decoration: none;
        color: #707070;
        padding: 12px;
        display: block;
    }

    .nav-menu li > a:hover {
        background-color: #f3f4f6;
    }
    
    #menu-checkbox:checked ~ .nav-content {
        transform: translateX(0%);
    }

    #menu-checkbox:checked ~ .nav-close {
        display: block;
        opacity: 0.5;
    }

    .hamburger a {
        display: block;
        line-height: 50px;
    }

    .hamburger a::first-letter {
        color:#009bbf
    }

    .top {
        margin-top:30px;
    }

    .sec_inner_1 {
        width:90%;
        margin:0 auto;
    }

    .slider1-img {
        width:70%;
        margin:0 auto;
    }

    .about {
        margin-top:100px;
        background-color:#F0F8FF;
        padding-top:100px;
        padding-bottom:100px;
        display:flex;
    }

    .about-item {
        width:50%;
    }

    .about-img {
        width:70%;
        float:right;
    }

    .about-item p {
        padding-left: 20px;
        padding-right:30px;
        line-height:35px;
        margin-top:0px!important;
    }

    h2 {
        text-align: center;
        margin-top:100px;
        margin-bottom:30px;
        border-bottom:3px solid #F0F8FF;
        font-size:26px;
        font-weight:normal;
    }

    .menu {
        margin-bottom:60px;
    }

    .menu-top {
        text-align: center;
        margin-bottom: 50px;
    }

    .menu-middle {
        border:1px dotted #707070;
        width:50%;
        margin:0 auto;
        padding:50px;
    }

    .menu-middle a{
        display: block;
        line-height:40px;
    }

    .menu-name {
        margin-top:60px;
        margin-bottom:60px;
        text-align:center;
        font-size:20px;
    }

    .menu-bottom p{
        text-align: center;
    }

    .menu-animation {
        position: relative;
        z-index: 1;
    }

    .menu-animation:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0%;
        height: 4px;
        background: #5bc8ac;
        z-index: -1;
        transition: all 1.6s;
    }
    
    .menu-animation.isActive:after {
        width: 100%;
    }

    .step {
        background-color:#F0F8FF;
        padding:30px 0px;
    }

    .c-step {
        padding: 10px 0px;
        text-align: center;
    }

    .step a {
        display: inline-block;
        background-color: white;
        padding: 20px 60px;
        border:1px dotted #707070;
    }

    .step-menu {
        float:left;
        width:50%;
    }

    .timeline {
        list-style: none;
    }
    
    .timeline > li {
        margin-bottom: 60px;
    }
      
    /* for Desktop */
    @media ( min-width : 640px ){
    .timeline > li {
          overflow: hidden;
          margin: 0;
          position: relative;
        }

        .timeline-date {
          width: 110px;
          float: left;
          margin-top: 20px;
          text-align:center;
        }

        .timeline-content {
          width: 75%;
          float: left;
          border-left: 3px #5bc8ac solid;
          padding-left: 30px;
        }

        .timeline-content:before {
          content: '';
          width: 12px;
          height: 12px;
          background: #5bc8ac;
          position: absolute;
          left: 106px;
          top: 24px;
          border-radius: 100%;
        }
    }

    .main-btn {
        text-align: center;
        margin-top: 50px;
    }

    .main-btn a {
        display:inline-block;
        border: 1px solid #707070;
        padding: 16px;
    }
    
    .main-btn a:hover {
        cursor:pointer;
        background-color: #707070;
        color:white;
    }

    .c-portfolio {
        margin: 0px 30px;
    }

    .portfolio-item {
        width:50%;
        float:left;
    }

    .portfolio-img {
        width:80%;
        float:right;
        margin-right:50px;
    }

    .portfolio-item p {
        font-size:14px;
    }

    .clear {
        clear:left;
    }

    .more {
        text-align: center;
        margin-top: 50px;
    }

    .more a {
        display:inline-block;
        border: 1px solid #707070;
        padding: 16px 24px;
    }

    .more a:hover {
        cursor:pointer;
        background-color: #707070;
        color:white;
    }

    .c-news {
        width:80%;
        margin:0 auto;
    }

    .news-item span:hover {
        text-decoration: underline;
        cursor:pointer;
    }

    .news-item p {
        line-height:40px;
    }

    summary {
        list-style: none;
        position: relative;
        padding: 20px 70px 20px 30px;
        cursor: pointer;
        border:1px solid #707070;
    }
      
      @media not all and (min-width: 768px){
        summary {
          padding: 20px 50px 20px 20px;
        }
      }
      
      summary::-webkit-details-marker {
        display: none;
      }
      
      
    summary::after {
        content: '+';
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        transition: transform 0.5s;
        font-size: 30px;
    }
      
    details[open] summary::after {
        transform: translateY(-50%) rotate(45deg);
    }
      
    .answer {
        padding: 20px 30px;
    }
      
      @media not all and (min-width: 768px){
        summary::after {
          right: 20px;
          font-size: 20px;
        }
      
        .answer {
          padding: 10px 20px;
        }
    }
      
    details[open] .answer {
        animation: fadein 0.5s ease;
    }
      
      @keyframes fadein {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
      
    body, p {
        margin: 0;
    }
      
    details {
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
        width: 600px;
    }
      
      @media not all and (min-width: 640px){
        details {
          width: 100%;
        }
    }
      
    details:first-of-type {
        margin-top: 30px;
    }

    .faq-another {
        margin-top:20px;
        text-align: center;
    }

    footer {
        background-color:#F2F2F2;
        margin-top:100px;
        padding:50px 20px;;
    }

    .c-footer {
        background-color:white;
        width:90%;
        margin:0 auto;
        padding:50px;
    }

    .footer-item {
        float:left;
        width:45%;
    }

    .footer-item img {
        width:50%;
    }

    .footer-main {
        margin-top:30px;
    }

    .footer-main a {
        padding-right:10px;
    }

    .footer-main a:hover {
        cursor:pointer;
        text-decoration: underline;
    }


    







    


      
      

    



    